##Sequence Types2

In [16]:
1+2

3

In [2]:
x,y = 2,3

In [3]:
x

2

In [4]:
y

3

In [15]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [6]:
tu[0]

23

In [7]:
tu[1]

'abc'

In [8]:
tu[2]

4.56

In [9]:
li = ["abc", 34, 4.34, 23]

In [10]:
li[0]

'abc'

In [11]:
li[1]

34

In [12]:
li[2]

4.34

In [18]:
int x = 2;
float y = 2.3;
String msg = 'message';
int[]x = {1,2,3};


c, java, python

SyntaxError: invalid syntax (<ipython-input-18-06687a00bb27>, line 1)

In [19]:
st ="""this is a multi-line
string that uses triple quotes"" "

In [20]:
st

'this is a multi-line\nstring that uses triple quotes'

In [21]:
print(st)

this is a multi-line
string that uses triple quotes

In [22]:
print(li)

['abc', 34, 4.34, 23]

In [23]:
li[-1]

23

In [24]:
li[-2]

4.34

In [25]:
li[4]

IndexError: list index out of range

In [26]:
x=2

In [28]:
st ="""this is a multi-line
string that uses triple quotes"""

In [15]:
st ="""this is a multi-line
###
.....
..
string that uses triple quotes."""
print(st)

this is a multi-line
###
.....
..
string that uses triple quotes.

In [16]:
st[-2]

's'

In [22]:
st[1:-1:1]

'his is a multi-line\n###\n.....\n..\nstring that uses triple quotes'

In [23]:
st[1:-1:2]

'hsi  ut-ie##....\ntigta sstil uts'

In [24]:
st = 'test" string'
print(st)

test" string

In [26]:
li = [23, 'abc',4.56, (2,3), 'def']

In [27]:
print(li)

[23, 'abc', 4.56, (2, 3), 'def']

In [28]:
li[0] = 1

In [29]:
print(li)

[1, 'abc', 4.56, (2, 3), 'def']

In [30]:
t=[1,2,4,5]

In [31]:
3 in t

False

In [32]:
4 in t

True

In [33]:
2+3

5

In [34]:
(1,2)+(1,2)

(1, 2, 1, 2)

In [35]:
# concatenation

In [38]:
"hello" + 2 +  " world"

TypeError: can only concatenate str (not "int") to str